
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .row {
            padding: 5px;
        }

        #Admin {
            border: black;
            border-style: solid;
            border-width: thin;
            height: auto;
            padding: 25px;
            /*background-color: lightblue;*/
        }
    </style>
</head>
<body>
    <div id="Admin" class="container">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">Your application has been submitted.</div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">For transaction receipt download</div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>               
            </div>
        </div>
    </div>
</body>
</html>
